@import "../components/tags";
body {
    width: 1440px;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
}

.header {
    display: flex;
    height: 95px;
    align-items: center;
}

.profile {
    background-color: #FAFAFA;
    display: flex;
    padding: 3rem;
    column-gap: 6rem;
    &__img {
        height: 200px;
        width: 200px;
        border-radius: 15rem;
        object-fit: cover;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
    &__name {
        font-size: 64px;
        line-height: 83px;
        color: #D3573C;
        margin: 0;
        font-weight: normal;
    }
    &__localisation {
        font-size: 24px;
        line-height: 31px;
        color: #901C1C;
    }
    &__description {
        font-size: 18px;
        line-height: 23px;
        color: #525252;
    }
    &__bouton {
        flex: 1;
        height: 83px;
        display: flex;
        align-items: center;
    }
    &__contact {
        background: #911C1C;
        border-radius: 5px;
        width: 170px;
        height: 60px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 0;
    }
    &__contact:hover {
        cursor: pointer;
        background: #DB8876;
        color: black
    }
    &__tags {
        @include tags();
    }
    &__tag {
        @include tag();
        font-size: 17px;
    }
    &__tag:hover {
        @include tag_hover();
    }
}

.images {
    margin-top: 3rem;
    padding-bottom: 3rem;
    &__article {
        width: 350px;
        margin-top: 5rem;
    }
    &__collection {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
    &__filter {
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        color: #000000;
    }
    &__image {
        width: 350px;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
    }
    &__title_like {
        display: flex;
        justify-content: space-between;
        width: 350px;
    }
    &__title {
        font-size: 24px;
        line-height: 31px;
        color: #911C1C;
    }
    &__like {
        display: flex;
        column-gap: .5rem;
        align-items: center;
    }
    &__count {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
        text-align: right;
        color: #911C1C;
    }
    &__icon {
        color: #911C1C;
        font-size: 22px;
    }
    &__icon:hover {
        cursor: pointer;
    }
}

.banner {
    background: #DB8876;
    display: flex;
    column-gap: 1.5rem;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    right: 10rem;
    position: fixed;
    &__likes {
        display: flex;
        column-gap: .3rem;
        align-items: center;
    }
    &__count {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
    }
    &__price {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
    }
}

.contactform {
    width: 669px;
    height: 775px;
    background: #DB8876;
    border-radius: 5px;
    position: fixed;
    padding: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    z-index: 1;
    top: 3rem;
    transform: translateX(50%);
    &__contact_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contactMe {
        font-size: 64px;
        line-height: 83px;
        margin: 0;
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    &__close {
        background: none;
        border: none;
    }
    &__close:hover {
        cursor: pointer;
    }
    &__icon {
        color: white;
        font-size: 3rem;
    }
    &__formData {
        font-size: 30px;
        line-height: 47px;
        color: #312E2E;
        mix-blend-mode: normal;
    }
    &__formData[error=true]::after {
        content: attr(error);
        text-align: left;
        color: red;
        font-size: 20px;
    }
    &__input {
        width: 669px;
        height: 55px;
        border-radius: 5px;
        border: 0;
        font-size: 36px;
    }
    &__message {
        width: 669px;
        height: 130px;
        border-radius: 5px;
        border: 0;
        font-size: 36px;
        resize: none;
    }
    &__send {
        background: #911C1C;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: white;
        width: 170px;
        height: 69px;
        border: 0;
    }
    &__send:hover {
        cursor: pointer;
    }
}