@import "../components/tags";
body {
    max-width: 1440px;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    padding: 2rem;
}

.header {
    display: flex;
    height: 95px;
    align-items: center;
}

.profile {
    background-color: #FAFAFA;
    display: flex;
    padding: 3rem;
    column-gap: 6rem;
    &__img {
        height: 200px;
        width: 200px;
        border-radius: 15rem;
        object-fit: cover;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    }
    &__name {
        font-size: 64px;
        line-height: 83px;
        color: #D3573C;
        margin: 0;
        font-weight: normal;
    }
    &__localisation {
        font-size: 24px;
        line-height: 31px;
        color: #901C1C;
    }
    &__description {
        font-size: 18px;
        line-height: 23px;
        color: #525252;
    }
    &__bouton {
        flex: 1;
        height: 83px;
        display: flex;
        align-items: center;
    }
    &__contact {
        background: #911C1C;
        border-radius: 5px;
        width: 170px;
        height: 60px;
        color: #FFFFFF;
        font-weight: bold;
        font-size: 20px;
        line-height: 26px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        border: 0;
    }
    &__contact:hover {
        cursor: pointer;
        background: #DB8876;
        color: black
    }
    &__tags {
        @include tags();
    }
    &__tag {
        @include tag();
        font-size: 17px;
    }
    &__tag:hover {
        @include tag_hover();
    }
}

.images {
    margin-top: 3rem;
    padding-bottom: 10rem;
    &__article {
        width: 100%;
        margin-top: 5rem;
        place-self: center;
    }
    &__article:nth-child(3n) {
        place-self: end;
    }
    &__article:nth-child(3n+1) {
        place-self: start;
    }
    &__collection {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 1rem;
    }
    &__wrap_filter_button {
        display: flex;
        align-items: center;
        column-gap: 3rem;
    }
    &__filter {
        font-size: 18px;
        font-weight: bold;
        line-height: 23px;
        color: #000000;
    }
    &__filter_button {
        background: #911C1C;
        border-radius: 5px;
        padding: 0.8rem;
        margin-left: 2rem;
        border: 0;
        color: white;
        font-family: 'DM Sans', sans-serif;
        font-size: 17px;
        cursor: pointer;
        display: block;
        align-items: center;
    }
    &__filter_button:focus {
        .arrow {
            transform: rotate(-180deg);
        }
    }
    &__filter_list {
        display: none;
        flex-direction: column;
        padding: 0;
        align-items: flex-start;
        margin: 0;
        row-gap: 1rem;
        margin-top: 1rem;
    }
    &__filter_option {
        list-style-type: none;
    }
    &__filter_label {
        display: initial;
    }
    &__values {
        display: none;
    }
    &__value {
        display: none;
    }
    &__value_arrow {
        display: flex;
        align-items: center;
        column-gap: 1rem;
    }
    &__select {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 0.5rem;
        padding: 1rem;
        border: 0;
        background: #911C1C;
        border-radius: 5px;
        font-family: 'DM Sans', sans-serif;
        font-size: 17px;
        color: white;
        cursor: pointer;
        width: 132px;
    }
    &__popularite {
        border-radius: 5px 5px 0 0;
    }
    &__date {
        border-radius: 0;
        display: flex;
        flex-direction: column;
        padding-top: 0;
        padding-bottom: 0;
        align-items: start;
    }
    &__titre {
        border-radius: 0 0 5px 5px;
        padding-top: 10px;
    }
    &__triple {
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    &__option {
        height: 30px;
        cursor: pointer;
        display: flex;
        column-gap: 0.5rem;
    }
    &__image {
        width: 100%;
        height: 300px;
        object-fit: cover;
        border-radius: 5px;
        cursor: pointer;
    }
    &__title_like {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    &__title {
        color: #911C1C;
    }
    &__like {
        display: flex;
        align-items: center;
    }
    &__count {
        font-weight: 500;
        font-size: 20px;
        line-height: 31px;
        text-align: right;
        color: #911C1C;
    }
    &__button {
        border: 0;
        background: transparent;
    }
    &__icon {
        color: #911C1C;
        font-size: 22px;
    }
    &__icon:hover {
        cursor: pointer;
    }
}

.banner[display-desktop="true"] {
    display: flex;
}

.banner[close-banner-desktop="true"] {
    display: none;
}

.banner {
    background: #DB8876;
    display: flex;
    column-gap: 1.5rem;
    width: 376px;
    height: 89px;
    border-radius: 5px;
    justify-content: space-evenly;
    align-items: center;
    bottom: 0;
    right: 10rem;
    position: fixed;
    &__likes {
        display: flex;
        column-gap: .3rem;
        align-items: center;
    }
    &__count {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
    }
    &__price {
        font-weight: 500;
        font-size: 24px;
        line-height: 31px;
    }
}

.contactform {
    width: 669px;
    height: 775px;
    background: #DB8876;
    border-radius: 5px;
    position: fixed;
    padding: 1.5rem;
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    z-index: 10;
    top: 3rem;
    transform: translateX(50%);
    display: none;
    &__contact_close {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__contactMe {
        font-size: 40px;
        line-height: 83px;
        margin: 0;
        font-family: 'DM Sans', sans-serif;
        font-style: normal;
        font-weight: normal;
    }
    &__close {
        background: none;
        border: none;
    }
    &__close:hover {
        cursor: pointer;
    }
    &__icon {
        color: white;
        font-size: 3rem;
    }
    &__formData {
        font-size: 20px;
        line-height: 47px;
        color: #312E2E;
        mix-blend-mode: normal;
    }
    &__formData[data-error=true]::after {
        content: attr(error);
        text-align: left;
        color: red;
        font-size: 20px;
    }
    &__formData[data-error-visible=true]::after {
        opacity: 1;
    }
    &__error_first,
    &__error_last,
    &__error_email,
    &__error_message {
        color: white;
        font-size: 1rem;
        margin: 0;
        height: 10px;
        display: none;
        align-items: center;
    }
    &__input {
        width: 669px;
        height: 40px;
        border-radius: 5px;
        border: 0;
        font-size: 22px;
    }
    &__message {
        width: 669px;
        height: 110px;
        border-radius: 5px;
        border: 0;
        font-size: 22px;
        resize: none;
    }
    &__send {
        background: #911C1C;
        border-radius: 5px;
        font-weight: bold;
        font-size: 18px;
        line-height: 23px;
        text-align: center;
        color: white;
        width: 170px;
        height: 69px;
        border: 0;
        margin-top: 2rem;
    }
    &__send:hover {
        cursor: pointer;
    }
}

.media[display-desktop="true"] {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    transform: translateY(20%);
}

.media {
    display: none;
    flex-direction: column;
    width: 950px;
    margin: auto;
    align-items: center;
    z-index: 10;
    &__media_icons {
        display: flex;
        justify-content: center;
        height: 700px;
        align-items: center;
        column-gap: 3rem;
    }
    &__media_title {
        display: flex;
        flex-direction: column;
    }
    &__media {
        min-width: 300px;
        min-height: 300px;
        max-height: 600px;
        max-width: 800px;
    }
    &__title {
        font-size: 24px;
        color: #911C1C;
        margin: 0;
    }
    &__icon {
        font-size: xx-large;
        color: #911C1C;
        cursor: pointer;
    }
    &__close_icon {
        font-size: xx-large;
        color: #911C1C;
        cursor: pointer;
        width: fit-content;
        flex: .5;
    }
    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%
    }
    &__left {
        display: flex;
        align-items: center;
    }
}

@media (min-width:530px) and (max-width:1024px) {
    .images {
        padding-bottom: 1rem;
        &__wrap_filter_button {
            padding-left: 1rem;
        }
        &__collection {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 1rem;
            padding: 0;
        }
        &__article {
            margin-top: 1rem;
            width: 100%;
        }
        &__image {
            height: 300px;
            width: 100%;
        }
        &__title {
            font-size: 13px;
        }
        &__title_like {
            width: auto;
        }
        &__count {
            font-size: 16px;
        }
        &__icon {
            font-size: 16px;
        }
    }
}

@media (min-width:530px) and (max-width: 600px){
    .images{
        &__title{
            font-size: 11px;
        }
    }
}

@media (min-width:601px) and (max-width: 1024px){
    .images{
        &__title{
            font-size: 13px;
        }
    }
}

@media (min-width:769px) and (max-width: 1024px){
    .profile{
        padding: 1rem;
        &__img{
            width: 100px;
            height: 100px;
        }
        &__name{
            font-size: 32px;
        }
        &__localisation{
            margin: 0;
            font-size: 21px;
        }
        &__description{
            font-size: 14px;
        }
        &__contact{
            width: 120px;
            height: 40px;
            font-size: 14px;
        }
        &__tag{
            font-size: 12px;
        }
        &__bouton{
            justify-content: center;
        }
    }
}

@media (max-width:529px) {
    .images {
        padding-bottom: 1rem;
        &__collection {
            display: flex;
            flex-direction: column;
        }
        &__image {
            height: 200px;
            width: 100%;
        }
    }
}

@media (max-width:768px) {
    body {
        margin: 1rem;
        width: auto;
    }
    .banner[display-mobile="true"] {
        display: none;
    }
    .banner {
        display: none;
    }
    .images {
        &__article {
            margin-top: 1rem;
            width: 100%;
        }
        &__title_like {
            width: auto;
        }
    }
    .profile {
        background-color: white;
        padding: 0;
        column-gap: 0;
        justify-content: space-between;
        &__contact {
            height: 38px;
            font-weight: initial;
        }
        &__name {
            font-size: 30px;
            line-height: 33px;
        }
        &__localisation {
            margin: 0;
            font-size: 14px;
        }
        &__description {
            margin: 0;
            font-size: 14px;
        }
        &__tag {
            font-size: 12px;
        }
        &__bouton {
            left: 0;
            margin-left: auto;
            margin-right: auto;
            right: 0;
            z-index: 1;
            position: fixed;
            bottom: 4rem;
            justify-content: center;
        }
        &__img {
            width: 100px;
            height: 100px;
        }
    }
    .contactform {
        width: auto;
        height: 100%;
        top: 0;
        left: 0;
        right: 0;
        transform: none;
        &__input {
            width: 100%;
        }
        &__message {
            width: 100%;
        }
        &__contactMe {
            font-size: 29px;
            line-height: 20px;
        }
        &__icon {
            font-size: 2rem;
        }
    }
    .media[display-mobile-media="true"] {
        display: grid;
    }
    .media {
        display: none;
        width: 100%;
        align-items: center;
        &__media {
            object-fit: contain;
            min-width: 100px;
            max-width: 300px;
            max-height: 400px;
        }
        &__close_icon {
            float: right;
            font-size: x-large;
        }
        &__media_icons {
            justify-content: space-between;
        }
        &__icon {
            font-size: x-large;
        }
    }
}

@media (max-width:1024px) {
    .images {
        &__wrap_filter_button {
            display: none;
        }
    }
}

@media (max-width:360px) {
    .profile {
        &__img {
            width: 50px;
            height: 50px;
        }
        &__name {
            font-size: 21px;
        }
        &__localisation {
            font-size: 12px;
        }
        &__description {
            font-size: 11px;
        }
        &__tag {
            font-size: 10px;
        }
    }
}

@media (max-width: 425px) {
    .profile{
        &__tag{
            font-size: 10px;
        }
    }
}

@media (min-width:1025px) and (max-width: 1240px){
    .images{
        &__article{
            width: 100%;
        }
        &__image{
            width: 100%;
            height: 200px;
        }
        &__title_like{
            width: 100%;
        }
    }
}

hr {
    width: 100%;
    color: white;
}

.hr_top {
    margin-top: 0;
    margin-bottom: 15px;
}