@import "../components/tags";
body {
    max-width: 1440px;
    margin: auto;
    font-family: 'DM Sans', sans-serif;
    padding: 2rem;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-style: normal;
    font-weight: normal;
    &__tags {
        display: flex;
        column-gap: .5rem;
        row-gap: .5rem;
        padding: 0;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__tag {
        @include tag();
        font-size: 12px;
    }
    &__tag:hover {
        @include tag_hover();
    }
    &__photographers {
        font-style: normal;
        font-weight: normal;
        line-height: 47px;
        color: #911C1C;
    }
}

.filtered {
    background: #911C1C;
    color: white;
}

.photographers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 4rem;
    text-align: center;
    font-style: normal;
    font-weight: normal;
    &__photographer {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0.2rem;
    }
    &__img {
        width: 200px;
        height: 200px;
        border-radius: 10rem;
        object-fit: cover;
    }
    &__img:hover {
        cursor: pointer;
    }
    &__name {
        font-size: 36px;
        line-height: 47px;
        color: #D3573C;
        margin-bottom: 0;
        font-weight: normal;
        cursor: pointer;
    }
    &__localisation {
        font-size: 13px;
        line-height: 17px;
        color: #901C1C;
        margin: 0;
    }
    &__description {
        font-size: 10px;
        line-height: 13px;
        color: #000000;
        margin: 0;
    }
    &__price {
        font-size: 9px;
        line-height: 12px;
        color: #757575;
        margin: 0;
    }
    &__tags {
        @include tags();
    }
    &__tag {
        @include tag();
        font-size: 12px;
    }
    &__tag:hover {
        @include tag_hover();
    }
}

@media (min-width:1025px) {
    .content {
        display: none;
    }
}


@media (min-width:768px) and (max-width:1024px) {
    .header {
        flex-direction: column;
        row-gap: 2rem;
    }
    .content {
        display: flex;
        justify-content: center;
        align-items: center;
        &__button {
            border-radius: 5px;
            background: #DB8876;
            color: black;
            font-weight: bold;
            padding: 1rem;
            z-index: 1;
            position: fixed;
            text-align: center;
            text-decoration: none;
            top: 50px;
            font-size: x-large;
        }
    }
    .photographers {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-top: 3rem;
        padding-bottom: 3rem;
        &__img {
            width: 240px;
            height: 240px;
        }
        &__localisation {
            font-size: 1rem;
            margin-top: .7rem;
        }
        &__price {
            font-size: 1rem;
            margin-top: .7rem;
        }
        &__description {
            font-size: 1rem;
            margin-top: .7rem;
        }
        &__tags {
            margin-top: .7rem;
        }
    }
}

@media (max-width:768px) {
    .content {
        display: none;
        justify-content: center;
        align-items: center;
        &__button {
            border-radius: 5px;
            background: #DB8876;
            color: black;
            font-weight: bold;
            padding: .3rem;
            z-index: 1;
            position: fixed;
            text-align: center;
            text-decoration: none;
            top: 50px;
        }
    }
    .header {
        flex-wrap: wrap;
        &__tags {
            order: 1;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 0.5rem;
        }
        &__photographers {
            font-size: 15px;
        }
        &__logo {
            width: 8rem;
        }
        &__tags_list {
            display: inline-flex;
            row-gap: .5rem;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            max-width: 24rem;
        }
        &__tag {
            font-size: .75rem;
        }
    }
    .photographers {
        display: flex;
        flex-direction: column;
        row-gap: 0;
        padding: 2rem 0 2rem 0;
        &__photographer {
            padding: 1rem;
        }
        &__img {
            width: 200px;
            height: 200px;
            border-radius: 39rem;
        }
        &__name {
            font-size: 36px;
            margin-top: 10px;
        }
        &__localisation {
            font-size: 18px;
            margin-top: 0px;
        }
        &__description {
            font-size: 15px;
            margin-top: 7px;
        }
        &__price {
            font-size: 12px;
            margin-top: 12px;
        }
        &__tags {
            margin-top: 10px;
            column-gap: .5rem;
        }
        &__tag {
            font-size: .75rem;
        }
    }
}