body {
  width: 1440px;
  margin: auto;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}

.header {
  display: flex;
  height: 95px;
  align-items: center;
}

.profile {
  background-color: #FAFAFA;
  display: flex;
  padding: 3rem;
  column-gap: 6rem;
}
.profile__img {
  height: 200px;
  width: 200px;
  border-radius: 15rem;
  object-fit: cover;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}
.profile__name {
  font-size: 64px;
  line-height: 83px;
  color: #D3573C;
  margin: 0;
  font-weight: normal;
}
.profile__localisation {
  font-size: 24px;
  line-height: 31px;
  color: #901C1C;
}
.profile__description {
  font-size: 18px;
  line-height: 23px;
  color: #525252;
}
.profile__bouton {
  flex: 1;
  height: 83px;
  display: flex;
  align-items: center;
}
.profile__contact {
  background: #911C1C;
  border-radius: 5px;
  width: 170px;
  height: 60px;
  color: #FFFFFF;
  font-weight: bold;
  font-size: 20px;
  line-height: 26px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border: 0;
}
.profile__contact:hover {
  cursor: pointer;
  background: #DB8876;
  color: black;
}
.profile__tags {
  display: flex;
  column-gap: 0.2rem;
}
.profile__tag {
  list-style-type: none;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0.1rem 0.3rem;
  color: #901C1C;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  font-size: 17px;
}
.profile__tag:hover {
  background: #911C1C;
  color: white;
  cursor: pointer;
}

.images {
  margin-top: 3rem;
  padding-bottom: 3rem;
}
.images__article {
  width: 350px;
  margin-top: 5rem;
  place-self: center;
}
.images__article:nth-child(3n) {
  place-self: end;
}
.images__article:nth-child(3n+1) {
  place-self: start;
}
.images__collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.images__wrap_filter_button {
  display: flex;
  align-items: center;
  column-gap: 3rem;
}
.images__filter {
  font-size: 18px;
  font-weight: bold;
  line-height: 23px;
  color: #000000;
}
.images__filter_button {
  background: #911C1C;
  border-radius: 5px;
  padding: 0.8rem;
  margin-left: 2rem;
  border: 0;
  color: white;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  cursor: pointer;
  display: block;
  align-items: center;
}
.images__filter_button:focus .arrow {
  transform: rotate(-180deg);
}
.images__filter_list {
  display: none;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
  margin: 0;
  row-gap: 1rem;
  margin-top: 1rem;
}
.images__filter_option {
  list-style-type: none;
}
.images__filter_label {
  display: initial;
}
.images__values {
  display: none;
}
.images__value {
  display: none;
}
.images__value_arrow {
  display: flex;
  align-items: center;
  column-gap: 1rem;
}
.images__select {
  padding: 1rem;
  border: 0;
  background: #911C1C;
  border-radius: 5px;
  font-family: "DM Sans", sans-serif;
  font-size: 17px;
  color: white;
}
.images__option {
  height: 30px;
}
.images__image {
  width: 350px;
  height: 300px;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}
.images__title_like {
  display: flex;
  justify-content: space-between;
  width: 350px;
}
.images__title {
  font-size: 20px;
  line-height: 31px;
  color: #911C1C;
}
.images__like {
  display: flex;
  column-gap: 0.5rem;
  align-items: center;
}
.images__count {
  font-weight: 500;
  font-size: 20px;
  line-height: 31px;
  text-align: right;
  color: #911C1C;
}
.images__icon {
  color: #911C1C;
  font-size: 22px;
}
.images__icon:hover {
  cursor: pointer;
}

.banner {
  background: #DB8876;
  display: flex;
  column-gap: 1.5rem;
  width: 376px;
  height: 89px;
  border-radius: 5px;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  right: 10rem;
  position: fixed;
}
.banner__likes {
  display: flex;
  column-gap: 0.3rem;
  align-items: center;
}
.banner__count {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}
.banner__price {
  font-weight: 500;
  font-size: 24px;
  line-height: 31px;
}

.contactform {
  width: 669px;
  height: 775px;
  background: #DB8876;
  border-radius: 5px;
  position: fixed;
  padding: 1.5rem;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  z-index: 1;
  top: 3rem;
  transform: translateX(50%);
}
.contactform__contact_close {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.contactform__contactMe {
  font-size: 40px;
  line-height: 83px;
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
}
.contactform__close {
  background: none;
  border: none;
}
.contactform__close:hover {
  cursor: pointer;
}
.contactform__icon {
  color: white;
  font-size: 3rem;
}
.contactform__formData {
  font-size: 20px;
  line-height: 47px;
  color: #312E2E;
  mix-blend-mode: normal;
}
.contactform__formData[data-error=true]::after {
  content: attr(error);
  text-align: left;
  color: red;
  font-size: 20px;
}
.contactform__formData[data-error-visible=true]::after {
  opacity: 1;
}
.contactform__error_first, .contactform__error_last, .contactform__error_email, .contactform__error_message {
  color: white;
  font-size: 1rem;
  margin: 0;
  height: 10px;
  display: none;
  align-items: center;
}
.contactform__input {
  width: 669px;
  height: 40px;
  border-radius: 5px;
  border: 0;
  font-size: 22px;
}
.contactform__message {
  width: 669px;
  height: 110px;
  border-radius: 5px;
  border: 0;
  font-size: 22px;
  resize: none;
}
.contactform__send {
  background: #911C1C;
  border-radius: 5px;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: white;
  width: 170px;
  height: 69px;
  border: 0;
  margin-top: 2rem;
}
.contactform__send:hover {
  cursor: pointer;
}

.media {
  display: none;
}

@media (min-width: 530px) and (max-width: 1024px) {
  .images {
    padding-bottom: 1rem;
  }
  .images__wrap_filter_button {
    padding-left: 1rem;
  }
  .images__collection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    padding: 0;
  }
  .images__article {
    place-self: center;
    margin-top: 1rem;
    width: 100%;
  }
  .images__article:nth-child(3n) {
    place-self: center;
  }
  .images__article:nth-child(3n+1) {
    place-self: center;
  }
  .images__image {
    height: 300px;
    width: 100%;
  }
  .images__title {
    font-size: 14px;
  }
  .images__title_like {
    width: auto;
  }
  .images__count {
    font-size: 16px;
  }
  .images__icon {
    font-size: 16px;
  }
}
@media (max-width: 529px) {
  .images {
    padding-bottom: 1rem;
  }
  .images__collection {
    display: flex;
    flex-direction: column;
  }
  .images__image {
    height: 200px;
    width: 100%;
  }
}
@media (max-width: 768px) {
  body {
    margin: 1rem;
    width: auto;
  }

  .banner {
    display: none;
  }

  .images {
    /*&__collection {
        display: flex;
        flex-direction: column;
    }*/
    /*&__image {
        height: 200px;
        width: 100%;
    }*/
  }
  .images__article {
    place-self: center;
    margin-top: 1rem;
    width: 100%;
  }
  .images__article:nth-child(3n) {
    place-self: center;
  }
  .images__article:nth-child(3n+1) {
    place-self: center;
  }
  .images__title_like {
    width: auto;
  }

  .profile {
    background-color: white;
    padding: 0;
    column-gap: 0;
    justify-content: space-between;
  }
  .profile__contact {
    height: 38px;
    font-weight: initial;
  }
  .profile__name {
    font-size: 30px;
    line-height: 33px;
  }
  .profile__localisation {
    margin: 0;
    font-size: 14px;
  }
  .profile__description {
    margin: 0;
    font-size: 14px;
  }
  .profile__tag {
    font-size: 12px;
  }
  .profile__bouton {
    left: 0;
    margin-left: auto;
    margin-right: auto;
    right: 0;
    z-index: 1;
    position: fixed;
    bottom: 4rem;
    justify-content: center;
  }
  .profile__img {
    width: 100px;
    height: 100px;
  }
}

/*# sourceMappingURL=photographers-page.css.map */
