body {
  width: 1440px;
  margin: auto;
  font-family: "DM Sans", sans-serif;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-style: normal;
  font-weight: normal;
}
.header__tags_list {
  display: flex;
  column-gap: 0.5rem;
  padding: 0;
}
.header__tag {
  list-style-type: none;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0.1rem 0.3rem;
  color: #901C1C;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
}
.header__tag:hover {
  background: #911C1C;
  color: white;
  cursor: pointer;
}
.header__photographers {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 47px;
  color: #911C1C;
}

.filtered {
  background: #911C1C;
  color: white;
}

.photographers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 4rem;
  text-align: center;
  font-style: normal;
  font-weight: normal;
}
.photographers__photographer {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 0.2rem;
}
.photographers__img {
  width: 200px;
  height: 200px;
  border-radius: 10rem;
  object-fit: cover;
}
.photographers__img:hover {
  cursor: pointer;
}
.photographers__name {
  font-size: 36px;
  line-height: 47px;
  color: #D3573C;
  margin-bottom: 0;
  font-weight: normal;
}
.photographers__localisation {
  font-size: 13px;
  line-height: 17px;
  color: #901C1C;
  margin: 0;
}
.photographers__description {
  font-size: 10px;
  line-height: 13px;
  color: #000000;
  margin: 0;
}
.photographers__price {
  font-size: 9px;
  line-height: 12px;
  color: #757575;
  margin: 0;
}
.photographers__tags {
  display: flex;
  column-gap: 0.2rem;
}
.photographers__tag {
  list-style-type: none;
  border: 0.5px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 11px;
  padding: 0.1rem 0.3rem;
  color: #901C1C;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  font-size: 12px;
}
.photographers__tag:hover {
  background: #911C1C;
  color: white;
  cursor: pointer;
}

@media (min-width: 1025px) {
  .content {
    display: none;
  }
}
@media (min-width: 667px) and (max-width: 768px) {
  .header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .header__photographers {
    order: 1;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  .header__tag {
    font-size: 1.3rem;
    padding: 0.3rem;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content__button {
    border-radius: 5px;
    background: #DB8876;
    color: black;
    font-weight: bold;
    padding: 1rem;
    z-index: 1;
    position: fixed;
    text-align: center;
    text-decoration: none;
    top: 50px;
    font-size: x-large;
  }

  .photographers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 3rem;
    padding-bottom: 3rem;
  }
  .photographers__img {
    width: 300px;
    height: 300px;
  }
  .photographers__name {
    font-size: 3rem;
  }
  .photographers__localisation {
    font-size: 1rem;
    margin-top: 0.7rem;
  }
  .photographers__price {
    font-size: 1rem;
    margin-top: 0.7rem;
  }
  .photographers__description {
    font-size: 1rem;
    margin-top: 0.7rem;
  }
  .photographers__tags {
    margin-top: 0.7rem;
  }
  .photographers__tag {
    font-size: 19px;
  }
}
@media (max-width: 768px) {
  body {
    margin: 1rem;
    width: auto;
  }

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .content__button {
    border-radius: 5px;
    background: #DB8876;
    color: black;
    font-weight: bold;
    padding: 0.3rem;
    z-index: 1;
    position: fixed;
    text-align: center;
    text-decoration: none;
    top: 50px;
  }

  .header {
    flex-wrap: wrap;
  }
  .header__tags {
    order: 1;
  }
  .header__photographers {
    font-size: 15px;
  }
  .header__logo {
    width: 8rem;
  }
  .header__tags_list {
    display: inline-flex;
    row-gap: 0.5rem;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 24rem;
  }
  .header__tag {
    font-size: 0.75rem;
  }

  .photographers {
    display: flex;
    flex-direction: column;
    row-gap: 0;
    padding: 2rem 0 2rem 0;
  }
  .photographers__photographer {
    padding: 1rem;
  }
  .photographers__img {
    width: 200px;
    height: 200px;
    border-radius: 39rem;
  }
  .photographers__name {
    font-size: 36px;
    margin-top: 10px;
  }
  .photographers__localisation {
    font-size: 18px;
    margin-top: 0px;
  }
  .photographers__description {
    font-size: 15px;
    margin-top: 7px;
  }
  .photographers__price {
    font-size: 12px;
    margin-top: 12px;
  }
  .photographers__tags {
    margin-top: 10px;
    column-gap: 0.5rem;
  }
  .photographers__tag {
    font-size: 0.75rem;
  }
}

/*# sourceMappingURL=styles.css.map */
